<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tota_tagliente_riccardi.it.sensorlib">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <uses-feature android:name="android.hardware.Sensor"></uses-feature>
        <uses-feature android:name="android.hardware.SensorEventListener"></uses-feature>
        <uses-feature android:name="android.hardware.SensorManager"></uses-feature>
        <uses-feature android:name="android.hardware.SensorEventListener2"></uses-feature>
    </application>

</manifest>
